* {
  /* reset */
  padding: 0;
  margin: 0;

  /* colors */
  --baseClr: #2a2137;
  --focusClr: #723f5e;
  --altClr: #278cbc;
}
input:invalid {
  box-shadow: none;
}
input:focus {
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
}
.wrapper {
  margin: 20px;
  width: calc(100vw - 40px);
}
.wrapper .title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--baseClr);
  border-bottom: 2px solid var(--baseClr);
}
.wrapper .form {
  margin-bottom: 40px;
  padding: 10px;
  background: var(--baseClr);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .form input[type="text"] {
  font-size: 1rem;
  padding: 10px;
  margin-right: 20px;
  width: 40%;
}
.wrapper .form input[type="submit"] {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 10px;
  background: var(--focusClr);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.wrapper .row {
  height: inherit;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .row .card {
  width: 200px;
  padding: 0;
  background: #f9f9f9;
  border: 0.3px solid var(--baseClr);
  box-shadow: 0 10px 6px -6px #b1baff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}
.wrapper .row .card .card-header {
  grid-row: 1 /2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .row .card .card-header img {
  width: 50px;
  height: 50px;
  transform: translateX(-50%, -50%);
}
.wrapper .row .card .card-main {
  background: var(--baseClr);
  color: #f9f9f9;
  grid-row: 2 /3;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.wrapper .row .card .card-main .main-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.wrapper .row .card .card-main .main-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  * {
    --focusClr: var(--altClr);
  }
  body {
    padding: 20px 0;
  }
  .wrapper {
    margin: 10px auto;
  }
  .wrapper .title {
    font-size: 1.7rem;
    text-align: center;
  }
  .wrapper .row {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .wrapper .row .card {
    width: unset;
  }
  .wrapper .row .card .card-main .main-title {
    margin-top: 10px;
    font-size: 1rem;
  }
  .wrapper .row .card .card-main .main-description {
    font-size: 0.8rem;
  }
}

/* Tablets */
@media screen and (min-width: 700px) and (max-width: 1025px) {
  * {
    --focusClr: var(--altClr);
  }
  body {
    padding: 20px 0;
    max-width: 100vw;
  }
  .wrapper {
    margin: 20px auto;
  }
  .wrapper .title {
    font-size: 2rem;
    text-align: center;
  }
  .wrapper .row .card {
    width: 300px;
    margin-bottom: 20px;
  }
}
