---
import PageLayout from "@/layouts/PageLayout.astro";

import data from "@/data";
import { slugify } from "@/lib/utils";

export function getStaticPaths() {
  return data.map((item) => ({ params: { id: slugify(item.name) } }));
}

const { id } = Astro.params;

const { name, repository, image, link } = data.filter(
  (item) => slugify(item.name) === id
)[0];
---

<PageLayout>
  <div class="grid items-center justify-center flex-grow w-full gap-8">
    <p>GameID: {name}</p>
  </div>
</PageLayout>
