---
import GameCard from "@/components/GameCard";
import PageLayout from "@/layouts/PageLayout.astro";

import { projectData as games } from "@/data/index";
---

<PageLayout>
  <div class="flex items-center flex-grow w-full h-full">
    <div class="relative grid items-center justify-center w-full gap-10">
      <div
        class="flex flex-col justify-between w-full gap-8 px-1 sm:items-center sm:flex-row"
      >
        <h1
          class="h-full text-lg font-bold tracking-wide capitalize sm:text-base sm:text-left"
        >
          All Games &amp; Effects
        </h1>
        <div class="flex items-center gap-2 sm:ml-auto w-max">
          <span class="w-24 py-1 text-center border rounded">Sort By</span>
          <span class="w-24 py-1 text-center border rounded">Filter</span>
        </div>
      </div>

      <div class="grid w-full grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
        {games.map((game, index) => <GameCard item={game} index={index} />)}
      </div>
    </div>
  </div>
</PageLayout>
