---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/PageLayout.astro";

import Slides from "@/components/Slides";
---

<PageLayout>
  <div class="flex flex-col w-full gap-10 lg:flex-row">
    <div class="grid items-center justify-center gap-10">
      <h1
        class="max-w-xl xl:text-6xl lg:text-5xl text-4xl text-foreground !leading-snug space-x-1 font-semibold text-center lg:text-left"
      >
        <span class="text-gradient">Pixel Crafting Quest</span>
        <span>For Graphics Are Not Boring</span>
      </h1>
    </div>
    <div class="relative flex items-center justify-center flex-1 w-full">
      <div
        class="absolute inset-0 backdrop-blur supports-[backdrop-filter]:bg-accent/10 max-h-[75%] rounded-lg"
      >
      </div>
      <Slides
        client:visible
        className="w-full flex-1 p-6"
        contentStyle="min-h-28 max-h-38 aspect-video p-6 border border-pink-500/20 rounded-lg text-pink-500"
        items={[
          {
            title: "Slide 1",
            image: "/images/hero.png",
          },
          {
            title: "Slide 2",
            image: "/images/hero.png",
          },
          {
            title: "Slide 3",
            image: "/images/hero.png",
          },
        ]}
      />
    </div>
  </div>
</PageLayout>
