* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100vw;
  --shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.title {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 2rem;
  padding: 10px;
  transform: skewY(-15deg);
  background: crimson;
  color: #fff;
}
.wrapper {
  width: 60vw;
  height: 80vh;
  margin: 10vh auto;
  background: #eee;
  box-shadow: var(--shadow);
}
canvas {
  width: inherit;
  height: inherit;
}

@media (max-width: 700px) {
  .title {
    top: 20px;
    transform: skew(0deg);
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  .wrapper {
    width: 90vw;
    height: 70vh;
    margin: 15vh auto;
  }
}
