* {
  margin: 0;
  padding: 0;
}

/* -- Mobile First --*/
.app-wrapper {
  width: 100vw;
  height: 100vh;
}
.pomodoro-wrapper {
  padding: 10px 0;
}
.pomodoro-wrapper .container {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-row-gap: 20px;
}
.pomodoro-wrapper .top-section {
  height: 40vh;
  background: #f5f5f5 !important;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

/* -- End of mobile --*/

/* -- Larger Screens --*/
@media screen and (min-width: 600px) {
}
/* -- End of Large Screens --*/
