---
import Slides from "@/components/Slides";
import PageLayout from "@/layouts/PageLayout.astro";

import data from "@/data";
import { slugify } from "@/lib/utils";
---

<PageLayout>
  <div class="relative grid items-center flex-1 w-full gap-10">
    <div
      class="container flex flex-col justify-center gap-10 py-10 mx-auto max-w-screen-2xl h-max lg:justify-between lg:items-center lg:flex-row"
    >
      <div class="grid items-center justify-center flex-1 gap-16">
        <h1
          class="max-w-4xl xl:text-6xl md:text-5xl text-4xl text-foreground !leading-snug space-x-1 font-black text-center lg:text-left"
        >
          <span>Fun, exciting</span>
          <span class="text-gradient">3D/2D games &amp; visual effects</span>
          <span>for the web.</span>
        </h1>
        <h3 class="space-x-1 text-2xl text-center lg:text-left lg:text-xl">
          <span>Built with</span>
          <span class="text-3xl text-pink-500 animate-pulse">&hearts;</span>
          <span>by</span>
          <a
            href="https://gitau.dev"
            class="lowercase hover:text-pink-500 hover:underline hover:underline-offset-4"
          >
            @rodgersgitau
          </a>
        </h3>
      </div>

      <div class="relative flex-1 w-full mx-auto">
        <Slides
          client:visible
          className="w-full max-w-2xl mx-auto"
          contentStyle="w-full aspect-video !p-0"
          items={data?.map((item) => ({
            title: item.name,
            image: item.image,
            link: `/games/${slugify(item.name)}`,
          }))}
        />
      </div>
    </div>
  </div>
</PageLayout>
