---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout>
  <div class="grid items-center justify-center flex-grow w-full gap-8">
    <p>Shop, wrapped in a PageLayout!</p>
  </div>
</PageLayout>
